/* General */

/* Checkers */

.checkersTable {
    width: 80vh;
    height: 80vh;
}

.checkersImage {
    width: 100%;
    height: 100%;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vh;
    height: 9vh;
}

.cell.backgroundWhite {
    background-color: #FFFFFF;
}

.cell.backgroundGray {
    background-color: #BFBFBF;
}

.checkerNumber {
    color: black;
    font-size: 10px;
    position: absolute;
    text-align: center;
    opacity: 1;
    z-index: 80;
    top: 0
}

.pickedCell {
    outline: #525E75 solid 0.5vh;
    z-index: 70;
}


.checkerIcons {
    width: 50% !important;
    height: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.checkerIcons.whiteIcon {
    color: #E2E2E2;
    cursor: pointer !important;
}

.checkerIcons.blackIcon {
    color: #313131;
    cursor: pointer !important;
}

.dummyIcon {
    cursor: pointer !important;
    position: absolute;
    z-index: 50;
    width: 50% !important;
    height: 50% !important;
}

.unClickableDummyIcon {}